.button-container {
    @apply cursor-pointer flex flex-row max-w-fit transition-all duration-200 ease-in-out rounded-lg overflow-hidden;
}

.button-container>div:first-child {
    @apply h-12 px-8 content-center;
}

.button-container>div:last-child {
    @apply h-12 w-12 content-center;
}

/* Color */
.button-container[data-color="primary"] {
    @apply text-surface;
}
.button-container[data-color="primary"]:hover {
    @apply bg-primary;
}
.button-container[data-color="primary"]>* {
    @apply bg-primary;
}

.button-container[data-color="white"] {
    @apply text-primary;
}
.button-container[data-color="white"]:hover {
    @apply bg-surface;
}
.button-container[data-color="white"]>* {
    @apply bg-surface;
}