@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-geist: "Geist Variable", sans-serif;

  /* Main Color */
  --color-primary: #2b53d9;
  /* #2B53D9 with 45% opacity */
  --color-primary-container: rgba(245, 245, 245, 0.45);
  --color-surface: #ffffff;
  --color-on-surface: #38324a;
  --color-on-surface-secondary: #99999b;
  /* #99999B with 70% opacity */
  --color-outline: rgba(153, 153, 153, 0.7);

  /* Inverse Color */
  --color-inverse-primary-container: rgba(18, 18, 18, 0.45);
  --color-inverse-surface: #101010;

  /* Animation */
  --animation-marquee: marquee 20s linear infinite;
}

body {
  @apply font-geist bg-surface dark:bg-inverse-surface flex min-h-screen w-full flex-col;
}

@layer components {
  @import "./button.component.css";

  /* PortableText List Nesting */
  ul {
    list-style-type: disc;
    & ul {
      list-style-type: circle;
      & ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
    & ol {
      list-style-type: lower-alpha;
      & ol {
        list-style-type: lower-roman;
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
