---
import { Image } from "astro:assets";

import { ROUTES } from "@/shared/config/route";

import ToggleDarkMode from "./ToggleDarkMode";

const currentPath = new URL(Astro.request.url).pathname;
---

<header
  class="fixed top-0 right-0 left-0 z-50 transition-all duration-300 ease-in-out"
>
  <div
    class="container mx-auto flex w-full flex-row items-center justify-between px-6 py-8 lg:px-8"
  >
    <div class="basis-1/2 lg:basis-1/4">
      <a href="/" class="block h-[48px] w-[78px]">
        <Image src="/images/logo.svg" alt="Logo" width={78} height={48} />
      </a>
    </div>
    <nav class="hidden lg:block lg:basis-1/2">
      <ul class="flex flex-row justify-center gap-20">
        {
          ROUTES.map((route) => {
            const selected = currentPath === route.href;
            return (
              <li class="flex items-center justify-center">
                {selected ? (
                  <span class="text-primary text-lg font-semibold">
                    {route.name}
                  </span>
                ) : (
                  <a
                    href={route.href}
                    class="text-on-surface-secondary dark:text-surface hover:text-primary text-lg font-semibold transition-all duration-300 ease-in-out hover:underline"
                  >
                    {route.name}
                  </a>
                )}
              </li>
            );
          })
        }
      </ul>
    </nav>
    <div class="flex basis-1/2 flex-row justify-end lg:hidden">
      <span>Menu</span>
    </div>
    <div class="hidden lg:flex lg:basis-1/4 lg:justify-end">
      <ToggleDarkMode client:only="react" />
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementsByTagName("header")[0];
    if (window.scrollY >= 120) {
      header.classList.add(
        "bg-surface/10",
        "backdrop-blur-md",
        "dark:bg-surface-900/50",
      );
      header.classList.remove("bg-transparent", "backdrop-blur-0");
    } else {
      header.classList.add("bg-transparent", "backdrop-blur-0");
      header.classList.remove(
        "bg-surface/10",
        "backdrop-blur-md",
        "dark:bg-surface-900/50",
      );
    }
  });
  window.addEventListener("scroll", () => {
    const header = document.getElementsByTagName("header")[0];
    if (window.scrollY >= 120) {
      header.classList.add(
        "bg-surface/10",
        "backdrop-blur-md",
        "dark:bg-surface-900/50",
      );
      header.classList.remove("bg-transparent", "backdrop-blur-0");
    } else {
      header.classList.add("bg-transparent", "backdrop-blur-0");
      header.classList.remove(
        "bg-surface/10",
        "backdrop-blur-md",
        "dark:bg-surface-900/50",
      );
    }
  });
</script>
