---
import ToggleDarkMode from "./ToggleDarkMode.astro";
---

<header
  class="sticky top-0 z-50 flex flex-row justify-between bg-transparent items-center py-8 px-6 md:px-8 container w-full mx-auto"
>
  <span class="basis-1/2 md:basis-1/4">Icon</span>
  <span class="hidden md:block md:basis-1/2 text-center">Menu</span>
  <ToggleDarkMode />
  <span class="md:hidden basis-1/2">Menu</span>
</header>
