<div class="hidden md:basis-1/4 md:flex md:justify-end">
  <div class="flex flex-row gap-2.5 bg-primary rounded-full px-3 py-2">
    <span id="toggle-dark-mode">Switch</span>
    <span class="text-white text-lg">Dark Mode</span>
  </div>
</div>

<script>
  const button = document.getElementById("toggle-dark-mode");
  button.addEventListener("click", () => {
    const currentTheme = document.documentElement.classList.contains("dark")
      ? "dark"
      : "light";
    const value = currentTheme === "dark" ? "light" : "dark";
    if (value === "dark") {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
    localStorage.setItem("theme", value);
  });
</script>
