---
const { node } = Astro.props;
const { href, blank } = node.markDef;
---

<a
  href={href}
  target={blank ? "_blank" : undefined}
  rel={blank ? "noopener noreferrer" : undefined}
  class="text-primary font-semibold hover:underline"
>
  <slot />
</a>
