---
import type { BaseBlog } from "@/entities/blog/model/type";
import BlogItem from "@/entities/blog/ui/BlogItem.astro";

interface Props {
  data: BaseBlog[];
}

const { data } = Astro.props;
---

<section
  class="container mx-auto mb-12 flex w-full flex-col gap-8 px-6 md:px-8"
>
  <div class="flex flex-col items-center justify-between gap-5 md:flex-row">
    <h2
      class="text-on-surface dark:text-surface text-2xl font-black uppercase md:basis-1/2 md:text-4xl"
    >
      Lessons from the Codebase
    </h2>
    <p
      class="text-on-surface-secondary dark:text-surface max-w-5xl text-sm md:basis-1/2 md:text-xl"
    >
      Every line of code has a story. This is my space to share the journey,
      mistakes, and successes of building a real digital product.
    </p>
  </div>
  <div class="flex w-full flex-row gap-5">
    <span>Filter 1</span>
    <span>Filter 2</span>
  </div>
  <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
    {data.map((item) => <BlogItem {...item} />)}
  </div>
  <div class="flex flex-row justify-around">
    <div>Next</div>
    <div>Pages</div>
    <div>Next</div>
  </div>
</section>
