---
import type { BlockContent } from "@/entities/blockContent/model/type";
import type { BaseBlog } from "@/entities/blog/model/type";
import BlogItem from "@/entities/blog/ui/BlogItem.astro";

interface Props {
  data: BlockContent;
  blogs: BaseBlog[];
}

const { data, blogs } = Astro.props;

const title = data.content?.[0].value;
const description = data.content?.[1].value;
---

<section
  class="container mx-auto mb-12 flex w-full flex-col gap-8 px-6 md:px-8"
>
  <div class="flex flex-col items-center justify-between gap-5 md:flex-row">
    <h2
      class="text-on-surface dark:text-surface text-2xl font-black uppercase md:basis-1/2 md:text-4xl"
    >
      {title}
    </h2>
    <p
      class="text-on-surface-secondary dark:text-surface max-w-5xl text-sm md:basis-1/2 md:text-xl"
    >
      {description}
    </p>
  </div>
  <!-- TODO: Implement Filter -->
  <div class="flex w-full flex-row gap-5">
    <span>Filter 1</span>
    <span>Filter 2</span>
  </div>
  <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
    {blogs.map((item) => <BlogItem {...item} />)}
  </div>
  <!-- TODO: Implement Pagination -->
  <div class="flex flex-row justify-around">
    <div>Next</div>
    <div>Pages</div>
    <div>Next</div>
  </div>
</section>
