---
import { Image } from "astro:assets";

import type { Project } from "@/entities/project/model/type";

import { getImageUrl } from "@/shared/lib/sanity-image-url";

type Props = Project;
const { coverImage, title, projectDescription, skill } = Astro.props;

const imageUrl = coverImage ? getImageUrl(coverImage).url() : "";
---

<div class="group relative aspect-[4/3] overflow-hidden rounded-4xl">
  {
    imageUrl && (
      <Image
        src={imageUrl}
        alt={title}
        width={800}
        height={600}
        class="absolute inset-0 h-full w-full object-cover transition-transform duration-500 group-hover:scale-105"
      />
    )
  }
  <div class="relative z-10 flex h-full flex-col justify-between">
    <div class="flex justify-end text-white">
      <div>View Project</div>
    </div>
    <div
      class="translate-y-[45%] rounded-4xl bg-black/80 px-8 py-9 text-white transition-transform duration-500 group-hover:translate-y-0"
    >
      <h4 class="mb-2.5 text-3xl font-extrabold">{title}</h4>
      <span class="text-lg font-extralight"
        >Stack: {skill?.map((item) => item.name).join(", ")}</span
      >
      <p class="mt-5 line-clamp-3 text-lg font-medium">
        {projectDescription}
      </p>
    </div>
  </div>
</div>
