---
import { Icon } from "astro-icon/components";

import cn from "@/shared/lib/cn";
import type { Skill } from "../model/type";

interface Props {
  skill: Skill;
  containerClassName?: string;
}

const { skill, containerClassName } = Astro.props;
---

<div class={cn("flex flex-row items-center gap-5", containerClassName)}>
  <Icon name={skill.icon.name} class="text-4xl text-white" />
  <span class="text-2xl font-bold text-white">{skill.name}</span>
</div>
