:root {
  color-scheme: light;
  --text: var(--gray-11);
  --surface: var(--stone-2);
  --surface-2: var(--stone-3);
  --primary: var(--red-6);

  /* TODO: Adjust name */
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --text-high-contrast-rgb-value: 49, 49, 49;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text: var(--gray-2);
    --surface: var(--stone-11);
    --surface-2: var(--stone-10);
    --primary: var(--red-6);

    /* TODO: Adjust name */
    --detail-high-contrast: rgb(101, 101, 101);
    --detail-medium-contrast: rgb(25, 25, 25);
    --text-high-contrast-rgb-value: 230, 230, 230;
  }
}

[color-scheme='light'] {
  color-scheme: light;
  --text: var(--gray-11);
  --surface: var(--stone-2);
  --surface-2: var(--stone-3);
  --primary: var(--red-6);

  /* TODO: Adjust name */
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --text-high-contrast-rgb-value: 49, 49, 49;
}

[color-scheme='dark'] {
  color-scheme: dark;
  --text: var(--gray-2);
  --surface: var(--stone-11);
  --surface-2: var(--stone-10);
  --primary: var(--red-6);

  /* TODO: Adjust name */
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --text-high-contrast-rgb-value: 230, 230, 230;
}

body {
  background-color: var(--surface);
  color: var(--text);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

a {
  color: var(--text);
  text-decoration: none;
}

/* main{
  margin: 0 0.5rem;
} */

/* TODO: Add margin */
.container {
  max-width: 1280px;
  margin: auto;
  /* margin: 0 0.5rem; */
}

@media only screen and (max-width: 1280px) {
  .container {
    margin: 0 0.5rem;
  }
}

button {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

button:hover {
  box-shadow:
    0 10px 15px -3px #488aec4f,
    0 4px 6px -2px #488aec17;
}

button:focus,
button:active {
  opacity: 0.85;
  box-shadow: none;
}

button svg {
  width: 1.25rem;
  height: 1.25rem;
}
