---

---

<footer
  class="grid grid-cols-1 md:grid-cols-4 py-8 px-6 md:px-8 bg-transparent container w-full mx-auto gap-4"
>
  <div
    class="order-1 md:col-span-2 flex flex-col items-start md:items-center md:order-2"
  >
    <div class="flex flex-col items-start text-center md:items-center">
      <span class="mb-6">Icon</span>
      <span
        class="mb-2 font-bold text-on-surface dark:text-inverse-on-surface text-xl"
        >Muhammad Asslam Pangestu Idham</span
      >
      <span class="text-on-surface-secondary dark:text-white text-lg"
        >Building scalable, human-centered digital solutions.</span
      >
    </div>
  </div>
  <div class="order-2 flex flex-col md:order-1">
    <span
      class="mb-4 font-bold text-on-surface dark:text-inverse-on-surface text-xl"
      >Let’s Work Together</span
    >
    <span class="mb-8 text-on-surface-secondary dark:text-white text-lg"
      >Have something in mind? Let’s chat.</span
    >
    <span>Action</span>
  </div>
  <div class="order-3 flex flex-col gap-4">
    <span class="font-bold text-on-surface dark:text-inverse-on-surface text-xl"
      >Follow Me</span
    >
    <div class="flex flex-row gap-2">
      <span>Icon</span>
      <span>Icon</span>
      <span>Icon</span>
      <span>Icon</span>
    </div>
  </div>
  <div
    class="p-8 text-center text-on-surface-secondary dark:text-white text-lg order-4 md:col-span-4"
  >
    © 2025 Muhammad Asslam Pangestu Idham. All rights reserved.
  </div>
</footer>
