---
import { Image } from "astro:assets";

import Button from "@/shared/ui/Button/index.astro";
---

<footer
  class="container mx-auto grid w-full grid-cols-1 gap-4 bg-transparent px-6 py-8 md:grid-cols-2 md:px-8 lg:grid-cols-4"
>
  <div
    class="order-1 flex flex-col items-start md:order-3 md:col-span-2 md:items-center lg:col-span-2"
  >
    <div class="flex flex-col items-start text-center md:items-center">
      <div class="mb-6">
        <Image src="/images/logo.svg" alt="Logo" width={116} />
      </div>
      <span
        class="text-on-surface dark:text-surface mb-2 text-base font-bold md:text-xl"
        >Muhammad Asslam Pangestu Idham</span
      >
      <span
        class="text-on-surface-secondary dark:text-surface text-sm md:text-lg"
        >Building scalable, human-centered digital solutions.</span
      >
    </div>
  </div>

  <div class="order-2 flex flex-col md:order-1">
    <span
      class="text-on-surface dark:text-surface mb-4 text-base font-bold md:text-xl"
      >Let’s Work Together</span
    >
    <span
      class="text-on-surface-secondary dark:text-surface mb-8 text-sm md:text-lg"
      >Have something in mind? Let’s chat.</span
    >
    <Button label="Contact Me" rounded color="primary" icon="A" />
  </div>

  <div class="order-3 flex flex-col gap-4 md:order-2 lg:order-3">
    <span
      class="text-on-surface dark:text-surface text-base font-bold md:text-xl"
      >Follow Me</span
    >
    <div class="flex flex-row gap-2">
      <span>Icon</span>
      <span>Icon</span>
      <span>Icon</span>
      <span>Icon</span>
    </div>
  </div>

  <div
    class="text-on-surface-secondary dark:text-surface order-4 p-8 text-center text-sm md:col-span-2 md:text-lg lg:col-span-4"
  >
    © 2025 Muhammad Asslam Pangestu Idham. All rights reserved.
  </div>
</footer>
