---
import cn from "@/shared/lib/cn";

interface Props {
  image: string;
  title: string;
  description: string;
  href: string;
  containerClass?: string;
}
const { image, title, description, href, containerClass } = Astro.props;
---

<div class={cn("flex flex-col justify-between gap-3.5", containerClass)}>
  <div class="mb-3.5">{image}</div>
  <div class="flex flex-col gap-5">
    <h6 class="font-medium text-2xl text-on-surface dark:text-white">{title}</h6>
    <p class="text-sm text-on-surface-secondary dark:text-white">{description}</p>
    <a href={href} class="text-primary hover:underline flex flex-row items-center gap-1">
      <span>Icon</span>
      <span>Continue Reading</span>
    </a>
  </div>
</div>
