---
import type { BlockContent } from "@/entities/page/model/type";

type Props = BlockContent;

const { title, subtitle, description } = Astro.props;
---

<section
  class="container mx-auto flex h-screen w-full flex-col items-start gap-8 px-6 md:flex-row md:items-center md:px-8"
>
  <div class="order-2 flex flex-col justify-between md:order-1 md:basis-1/2">
    <div class="flex flex-col gap-5">
      <div class="flex flex-row gap-4">
        <span
          class="text-on-surface-secondary dark:text-surface text-base font-light md:text-2xl"
          >{subtitle}</span
        >
        <span>Icon</span>
      </div>
      <h2
        class="text-on-surface dark:text-surface text-2xl font-black uppercase md:text-5xl"
      >
        {title}
      </h2>
      <p class="text-on-surface-secondary dark:text-surface text-sm md:text-xl">
        {description}
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <span class="text-on-surface dark:text-surface text-xl font-medium"
        >Let’s connect:</span
      >
      <div class="flex flex-row gap-2">
        <span>Icon</span>
        <span>Icon</span>
        <span>Icon</span>
        <span>Icon</span>
      </div>
    </div>
  </div>
  <div class="order-1 md:order-2 md:basis-1/2">Image</div>
</section>
