---
import type { BaseBlog } from "@/entities/blog/model/type";
import BlogItem from "@/entities/blog/ui/BlogItem.astro";

import cn from "@/shared/lib/cn";

interface Props {
  data: BaseBlog[];
}

const { data } = Astro.props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-[1fr_450px]">
  {
    data.map((item, index) => (
      <BlogItem
        containerClass={cn(
          "last:flex last:md:hidden last:lg:flex",
          index === 0
            ? "lg:col-start-1 lg:row-span-4 lg:[&>*:first-child]:h-[75%] xl:[&>*:first-child]:h-auto"
            : "lg:flex-row lg:items-center lg:col-start-2 lg:[&>*:first-child]:w-[180px]",
        )}
        {...item}
      />
    ))
  }
</div>
