---
import type { Project } from "@/entities/project/model/type";
import ProjectItem from "@/entities/project/ui/ProjectItem.astro";

interface Props {
  data: Project[];
}

const { data } = Astro.props;
---

<div class="flex w-full flex-row gap-5">
  <span>Filter 1</span>
  <span>Filter 2</span>
</div>
<div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2">
  {data.map((item) => <ProjectItem {...item} />)}
</div>
