---
interface Props {
  data: unknown[];
}

const { data } = Astro.props;
---

<div class="flex w-full flex-row gap-5">
  <span>Filter 1</span>
  <span>Filter 2</span>
</div>
<div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2">
  {data.map((item, index) => <div>Card {index}</div>)}
</div>
