<div class="flex flex-row w-full gap-5">
  <span>Filter 1</span>
  <span>Filter 2</span>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 w-full">
  <div>Card 1</div>
  <div>Card 2</div>
  <div>Card 3</div>
  <div>Card 4</div>
</div>
