---
import Button from "@/shared/ui/Button/index.astro";
---

<section class="h-screen flex flex-col justify-between">
  <div class="container w-full mx-auto px-6 md:px-8 grow flex flex-col justify-center">
    <div>
      <div class="flex flex-col gap-2.5 mb-16">
        <span
          class="uppercase text-on-surface text-sm md:text-2xl dark:text-white"
          >Hi, I AM Muhammad Asslam pangestu Idham
        </span>
        <h1
          class="uppercase font-black text-on-surface text-2xl md:text-7xl dark:text-white"
        >
          Software Engineering
        </h1>
      </div>
      <Button label="Lets Talk With Me" rounded color="primary" icon="A" />
    </div>
  </div>
  <div class="bg-primary w-full">Marquee</div>
</section>
