---
import { sanityClient } from "sanity:client";

import Layout from 'src/layouts/Layout.astro';

const seo = await sanityClient.fetch(`*[_type == "page" && title == 'Home'][0]`);
---

<Layout title="Project">
	<main>
		Project
	</main>
</Layout>

