---
import { sanityClient } from "sanity:client";

import Layout from 'src/layouts/Layout.astro';

const page: Page = await sanityClient.fetch(
  `*[_type == "page" && title == 'Home'][0]`
)
---

<Layout title={page.title} description={page.description} keyword={page.keyword}>
	<main>
		Blog Detail
	</main>
</Layout>

