---
import type { CallToAction } from "@/entities/callToAction/model/type";

import Button from "@/shared/ui/Button/index.astro";

interface Props {
  data: CallToAction;
}

const { data } = Astro.props;
---

<section class="container mx-auto mb-16 w-full px-6 md:px-8">
  <div class="bg-primary rounded-4xl px-6 py-8">
    <div
      class="mx-auto flex w-full max-w-5xl flex-col items-center gap-8 md:my-8"
    >
      <h2
        class="text-surface text-center text-2xl font-black uppercase md:text-5xl"
      >
        {data.title}
      </h2>
      <!-- TODO: Phase 2 - Rotate Arrow & On Click -->
      <Button
        label={data.ctaText}
        rounded
        color="white"
        icon="lucide:arrow-up-right"
      />
    </div>
  </div>
</section>
